div{
    height: 100px;
    width: 100px;
    background-color: #00ff00ff;
    margin: 0 auto;
    margin-top: 10px;
    transition: border-radius 2s ease-in-out 0.2s;
}

/* div:hover{
    margin-top: 400px;
   background-color: pink;
} */

/* Alternate Transition */

div:hover{
   border-radius: 50%;
   background-color: red;
}
